<h1>Insurance</h1>
<form>
    <div class="form-group">
        <label for="Company">Company</label>
        <select id="Company"class="form-control" (change)="oncompanychange()"[(ngModel)]="insurance.company" name="companyId">
            <option value=""></option>
            <option *ngFor="let c of companys" id="{{c.id}}">{{c.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="InsType">Insurance Type</label>
        <select class="form-control">
            <option value=""></option>
            <option *ngFor="let t of instypes" id="{{t.id}}">{{t.name}}</option>
        </select>
    </div>
    <h3>Is this Insurance Registered</h3>
    <div class="checkbox">
        <label for="registered">
            Registered
            <input type="radio" id="registered" value="true" name="isRegistered">Yes
        </label>
        <label for="notregistered">
            <input type="radio" id="notregistered" value="false" name="isRegistered">No
        </label>
</div>
    <h3>Features</h3>
    <div class="checkbox" *ngFor="let f of feature">
        <label for="feature{{f.id}}">
            <input type="checkbox" id="feature{{f.id}}" name="Feature" />{{f.name}}
        </label>
    </div>
    <h3>Contacts</h3>
    <div class="form-group">
        <label>ContactName</label>
        <input type="text" name="ContactName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Contact Email</label>
        <input type="text" name="ContactEmail" class="form-control" />
    </div>
    <div class="form-group">
        <label>Contact Phone</label>
        <input type="text" name="ContactPhone" class="form-control" />
    </div>
    <button class="btn-primary">Save</button>
    
</form>